services:
  caddy:
    image: caddy
    container_name: caddy
    restart: unless-stopped
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
    ports:
      - 80:80
      - 443:443
    environment:
      - DOMAIN=${DOMAIN_NAME}

  mkdocs:
    image: squidfunk/mkdocs-material
    volumes:
      - ./:/docs:z
    command: serve --dev-addr 0.0.0.0:8000